# Quarto Output
/.quarto/
/.quarto.backup/
/_book/
build/

# CMake/build output
/build/
/code/build/

# Generated Experiment Data
/code/results/raw/
/code/results/plots/

/results/raw/
/results/plots/

# keep result folders if you wnt empty directories in git
!/code/results/raw/.gitkeep
!/code/results/plots/.gitkeep

# VS Code
.vscode/&
!.vscode/settings.json
**/*.quarto_ipynb
notes/conversions_files/figure-latex/mermaid-figure-1.png

__pycache__